In [71]:
path = '/Users/sjhuang/Documents/docs/dataset/train/a/test_code.xlsx'
new_path = '/Users/sjhuang/Documents/docs/dataset/train/a/train_label.csv'

In [72]:
import pandas as  pd 
import os

In [73]:
data = pd.read_excel(path,header=None,skiprows=1,dtype=str)
#data = pd.read_csv(path,header=None,skiprows=1,dtype=str)
data.head()

                          0     1
0  C:/网页截图2021101800015.jpg  3594
1  C:/网页截图2021101800016.jpg  0624
2  C:/网页截图2021101800017.jpg  1478
3  C:/网页截图2021101800018.jpg  4161
4  C:/网页截图2021101800019.jpg  6102

In [74]:
ids = data[0].str.split('/').str[1]
#ids = data[0]
df = pd.DataFrame({
    'ID':ids, 'label':data[1]
})

In [75]:
df.head()

                      ID label
0  网页截图2021101800015.jpg  3594
1  网页截图2021101800016.jpg  0624
2  网页截图2021101800017.jpg  1478
3  网页截图2021101800018.jpg  4161
4  网页截图2021101800019.jpg  6102

In [76]:
df.to_csv(new_path,index = False)