In [323]:
path = '/Users/sjhuang/Documents/docs/dataset/train/train_data/train_label.csv'
new_json_path = '/Users/sjhuang/Documents/docs/dataset/train/train_data/train_label.json'

In [324]:
import pandas as  pd 
import os

In [325]:
data = pd.read_csv(path,dtype=str)
#data = pd.read_csv(path,header=None,skiprows=1,dtype=str)
data.head()

      ID label
0  1.jpg  UKw2
1  2.jpg  S1Y0
2  3.jpg  4Nwj
3  4.jpg  SdiQ
4  5.jpg  ZqJp

In [74]:
# ids = data[0].str.split('/').str[1]
# #ids = data[0]
# df = pd.DataFrame({
#     'ID':ids, 'label':data[1]
# })

In [ ]:
# df['label'] = df['label'].astype(str)
# df['ID'] = df['ID'].astype(str)

In [326]:
df = data

In [327]:
err = df[df.label.apply(lambda x: len(str(x))!=4)]
err

               ID label
21090  21091.jpeg   4Cm

In [328]:
df.info

<bound method DataFrame.info of               ID label
0          1.jpg  UKw2
1          2.jpg  S1Y0
2          3.jpg  4Nwj
3          4.jpg  SdiQ
4          5.jpg  ZqJp
...          ...   ...
21190  21191.jpg  E3F6
21191  21192.jpg  SDPW
21192  21193.png  8805
21193  21194.jpg  ACPF
21194  21195.jpg  P432

[21195 rows x 2 columns]>

In [186]:
# images = os.listdir('/Users/sjhuang/Documents/docs/dataset/train/c')

# labels = []
# ids = []

# for image in images:
#     if image.endswith('csv') or image.endswith('json'):
#         continue
#     ids.append(image)
#     labels.append(str(image.split('.')[0].split('-')[1]))

In [189]:
# new_data = pd.DataFrame({
#     'ID':ids,
#     'label':labels})

In [190]:
# new_data.head()

              ID label
0  9206-gcbm.png  gcbm
1  7854-bb2m.png  bb2m
2  6701-c63w.png  c63w
3  1823-zzrg.png  zzrg
4  5887-svga.png  svga

In [329]:
#check 
ids = err.ID
labels = err.label

In [330]:
new_labels = ['4c5m']
# for label in labels:
#     l = label.rjust(4,'0')
#     new_labels.append(l)

In [331]:
fix_df = pd.DataFrame({
    'ID':list(ids.values),
    'label':new_labels
})

In [332]:
fix_df.info

<bound method DataFrame.info of            ID label
0  21091.jpeg  4c5m>

In [333]:
r_df = df[df.label.apply(lambda x: len(str(x))==4)]
r_df.head

<bound method NDFrame.head of               ID label
0          1.jpg  UKw2
1          2.jpg  S1Y0
2          3.jpg  4Nwj
3          4.jpg  SdiQ
4          5.jpg  ZqJp
...          ...   ...
21190  21191.jpg  E3F6
21191  21192.jpg  SDPW
21192  21193.png  8805
21193  21194.jpg  ACPF
21194  21195.jpg  P432

[21194 rows x 2 columns]>

In [334]:
new_df = pd.concat([r_df,fix_df],axis=0)
new_df.head()

      ID label
0  1.jpg  UKw2
1  2.jpg  S1Y0
2  3.jpg  4Nwj
3  4.jpg  SdiQ
4  5.jpg  ZqJp

In [335]:
new_df.reset_index(inplace=True,drop=True)
new_df.info

<bound method DataFrame.info of                ID label
0           1.jpg  UKw2
1           2.jpg  S1Y0
2           3.jpg  4Nwj
3           4.jpg  SdiQ
4           5.jpg  ZqJp
...           ...   ...
21190   21192.jpg  SDPW
21191   21193.png  8805
21192   21194.jpg  ACPF
21193   21195.jpg  P432
21194  21091.jpeg  4c5m

[21195 rows x 2 columns]>

In [336]:
new_df.columns

Index(['ID', 'label'], dtype='object')

In [183]:
count = 0
for item in list(df['label'].values):
    if len(item) != 4:
        count+=1
print(count, len(df))

47 10000

In [338]:
new_df.head()

      ID label
0  1.jpg  UKw2
1  2.jpg  S1Y0
2  3.jpg  4Nwj
3  4.jpg  SdiQ
4  5.jpg  ZqJp

In [339]:
#df.to_csv(new_path,index = False)
new_df.to_json(new_json_path)

In [340]:
data = pd.read_json(new_json_path,dtype = str)
data.head()

      ID label
0  1.jpg  UKw2
1  2.jpg  S1Y0
2  3.jpg  4Nwj
3  4.jpg  SdiQ
4  5.jpg  ZqJp