In [22]:
path = '/Users/sjhuang/Documents/docs/dataset/train/b/train_label.csv'

In [23]:
import pandas as  pd 
import os

In [24]:
data = pd.read_csv(path,header=None, skip_blank_lines= True)
data.head()

            0     1
0  0-m4c2.jpg  m4c2
1  1-fcx3.jpg  fcx3
2  2-3fp2.jpg  3fp2
3  3-8b8a.jpg  8b8a
4  4-y63x.jpg  y63x

In [25]:
ids = data[0]
df = pd.DataFrame({
    'ID':ids, 'label':data[1]
})

In [26]:
df.head()

           ID label
0  0-m4c2.jpg  m4c2
1  1-fcx3.jpg  fcx3
2  2-3fp2.jpg  3fp2
3  3-8b8a.jpg  8b8a
4  4-y63x.jpg  y63x

In [27]:
df.to_csv(path,index = False)