In [26]:
path = '/Users/sjhuang/Documents/docs/dataset/train/ruoyi1/label.csv'
new_json_path = '/Users/sjhuang/Documents/docs/dataset/train/ruoyi1/train_label.json'

In [27]:
import pandas as  pd 
import os

In [28]:
data = pd.read_csv(path,dtype=str,header=None)
#data = pd.read_csv(path,header=None,skiprows=1,dtype=str)
data.head()

            0     1
0  0-m4c2.jpg  m4c2
1  1-fcx3.jpg  fcx3
2  2-3fp2.jpg  3fp2
3  3-8b8a.jpg  8b8a
4  4-y63x.jpg  y63x

In [74]:
# ids = data[0].str.split('/').str[1]
# #ids = data[0]
# df = pd.DataFrame({
#     'ID':ids, 'label':data[1]
# })

In [ ]:
# df['label'] = df['label'].astype(str)
# df['ID'] = df['ID'].astype(str)

In [29]:
df = data

In [14]:
err = df[df.label.apply(lambda x: len(str(x))!=4)]
err

AttributeError: 'DataFrame' object has no attribute 'label'

In [30]:
df.info

<bound method DataFrame.info of                   0     1
0        0-m4c2.jpg  m4c2
1        1-fcx3.jpg  fcx3
2        2-3fp2.jpg  3fp2
3        3-8b8a.jpg  8b8a
4        4-y63x.jpg  y63x
...             ...   ...
9995  9995-dgf5.jpg  dgf5
9996  9996-m65y.jpg  m65y
9997  9997-yn3g.jpg  yn3g
9998  9998-nxwf.jpg  nxwf
9999  9999-yeb4.jpg  yeb4

[10000 rows x 2 columns]>

In [186]:
# images = os.listdir('/Users/sjhuang/Documents/docs/dataset/train/c')

# labels = []
# ids = []

# for image in images:
#     if image.endswith('csv') or image.endswith('json'):
#         continue
#     ids.append(image)
#     labels.append(str(image.split('.')[0].split('-')[1]))

In [31]:
new_data = pd.DataFrame({
    'ID':df[0].values,
    'label':df[1].values})

In [32]:
new_data.head()

           ID label
0  0-m4c2.jpg  m4c2
1  1-fcx3.jpg  fcx3
2  2-3fp2.jpg  3fp2
3  3-8b8a.jpg  8b8a
4  4-y63x.jpg  y63x

In [329]:
#check 
ids = err.ID
labels = err.label

In [330]:
new_labels = ['4c5m']
# for label in labels:
#     l = label.rjust(4,'0')
#     new_labels.append(l)

In [331]:
fix_df = pd.DataFrame({
    'ID':list(ids.values),
    'label':new_labels
})

In [332]:
fix_df.info

<bound method DataFrame.info of            ID label
0  21091.jpeg  4c5m>

In [333]:
r_df = df[df.label.apply(lambda x: len(str(x))==4)]
r_df.head

<bound method NDFrame.head of               ID label
0          1.jpg  UKw2
1          2.jpg  S1Y0
2          3.jpg  4Nwj
3          4.jpg  SdiQ
4          5.jpg  ZqJp
...          ...   ...
21190  21191.jpg  E3F6
21191  21192.jpg  SDPW
21192  21193.png  8805
21193  21194.jpg  ACPF
21194  21195.jpg  P432

[21194 rows x 2 columns]>

In [334]:
new_df = pd.concat([r_df,fix_df],axis=0)
new_df.head()

      ID label
0  1.jpg  UKw2
1  2.jpg  S1Y0
2  3.jpg  4Nwj
3  4.jpg  SdiQ
4  5.jpg  ZqJp

In [335]:
new_df.reset_index(inplace=True,drop=True)
new_df.info

<bound method DataFrame.info of                ID label
0           1.jpg  UKw2
1           2.jpg  S1Y0
2           3.jpg  4Nwj
3           4.jpg  SdiQ
4           5.jpg  ZqJp
...           ...   ...
21190   21192.jpg  SDPW
21191   21193.png  8805
21192   21194.jpg  ACPF
21193   21195.jpg  P432
21194  21091.jpeg  4c5m

[21195 rows x 2 columns]>

In [336]:
new_df.columns

Index(['ID', 'label'], dtype='object')

In [183]:
count = 0
for item in list(df['label'].values):
    if len(item) != 4:
        count+=1
print(count, len(df))

47 10000

In [33]:
new_df.head()

NameError: name 'new_df' is not defined

In [34]:
#df.to_csv(new_path,index = False)
new_data.to_json(new_json_path)

In [35]:
data = pd.read_json(new_json_path,dtype = str)
data.head()

           ID label
0  0-m4c2.jpg  m4c2
1  1-fcx3.jpg  fcx3
2  2-3fp2.jpg  3fp2
3  3-8b8a.jpg  8b8a
4  4-y63x.jpg  y63x

In [402]:
path = '/Users/sjhuang/Documents/docs/dataset/fine_tune_data'
new_json_path = '/Users/sjhuang/Documents/docs/dataset/fine_tune_data/train_label.json'

In [403]:
images = os.listdir(path)

In [404]:
labels = []
imgs = []

for image in images:
    labels.append(image.split('.')[0])
    imgs.append(image)

In [405]:
data = pd.DataFrame({
    'ID':imgs,'label':labels
})

In [406]:
data.head()

         ID label
0  BHIX.png  BHIX
1  bab7.png  bab7
2  e873.png  e873
3  kqi7.png  kqi7
4  NP9J.png  NP9J

In [407]:
data[data.label.apply(lambda x: len(str(x))!=4)]

Empty DataFrame
Columns: [ID, label]
Index: []

In [408]:
data.to_json(new_json_path)

In [409]:
data = pd.read_json(new_json_path,dtype = str)
data.head()

         ID label
0  BHIX.png  BHIX
1  bab7.png  bab7
2  e873.png  e873
3  kqi7.png  kqi7
4  NP9J.png  NP9J